{% extends 'baseRdv.html.twig' %}
{% block css %}
<style>
    .form-border {
        border: 1px solid white;
        border-radius: 7px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container" style="margin-top: 150px;">
    <div class="main-button-gradient">
        <a href="{{path('app_search')}}" class="text-button">Liste de mes rendez-vous</a>
    </div>
    <div class="form-border col-8 mx-auto m-3 p-5">
        <h4 class="mb-4">Détails de rendez-vous</h4>
        Assistant psychologique: {{rdv.idPersonnel.nom}} {{rdv.idPersonnel.prenom}} <br>
        Date de rendez-vous: {{rdv.dateRdv|date('Y-m-d')}} à {{rdv.heure}}h
    </div>
</div>
{% endblock %}