{% block body %}  
  
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            

            {# <h6>{{Formation.dateFormation|date('Y-m-d')}}</h6> #}
            <h2>Blog : <em>{{Blog.libelle}}</em></h2><br><br>
            
            <p>Description : {{Blog.description}}</p>
            <p>Date : {{Blog.date|date('Y-m-d')}}</p>
            <p>categorie : </p>
            {% for element in Blog.Categorie %}
                                           <p> {{ element.Libelle }}</p>
                                        {% endfor %}
            <p>Auteur : {{Blog.auteur}}</p>
            <div class="right-image" style="text-align: center;">
          <img src= "{{ asset('images/' ~ Blog.image) }}" style="width: 200px; height: auto;" />
            {# <img src="assets/images/banner-right-image.png" alt=""> #}
          </div>
            
          </div>
        </div>
        <div class="col-lg-6">
          
        </div>
      </div>
    </div>
  </section>

  {% endblock %}